<h1>Details of Your New Car!!</h1>

<p>Name: <%= @product.name %></p>
<p>Price (+ Tax): <%= number_to_currency(@product.total) %></p>
<p><%= @product.sale_message %></p>
<p>Color: <%= @product.color %></p>
<p>Make: <%= @product.make %></p>
<p>Model: <%= @product.model %></p>
<p>Bio: <%= @product.description %></p>
<p>In Stock?: <%= @product.in_stock %></p>
<p><% @product.images.each do |image| %>
<img src="<%= image.image_url %>" class="img-responsive">
<% end %></p>

<h1>Buy this Car!</h1>
<%= form_tag '/orders', method: :post do %>
<div>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>
    <%= label_tag :product_id %>
  <%= text_field_tag :product_id %>
</div>
<div>
  <%= hidden_field_tag :product_id, @product.id %>
</div>

<%= link_to "Destroy", "/products/#{@product.id}", method: :delete %>
<p> </p>
<%= link_to "Update", "/products/#{@product.id}/edit", method: :get %>
<%= submit_tag "Buy" %>
<% end %>

